*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./images/geo12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.1s ease-in-out;
}
.parent-container {
  margin: auto;
  height: 75vh;
  width: 55%;
  display: flex;
  flex-direction: column;
}
#header {
  font-family: Poppins;
  color: #000000;
  text-shadow: 4px #e5e5e5;
  padding-top: 5px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  height: 4rem;
  width: 100%;
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    width: 100%;
    margin-left: 0;
  }
}
main {
  background-color: #fff5;
  border: 8px solid #000000;
  height: 65vh;
  width: 100%;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section {
  border: 1px solid rgb(0, 0, 0);
}
.cont1 {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 35px;
}
.cont2 {
  /* background-color: #006680; */
  background-color: transparent;
  border-top-right-radius: 25px;
  display: flex;
}
.input-container {
  height: 80%;
  width: 80%;
  margin: auto;
  /* padding: 20px;  */
}
h1 {
  font-family: Poppins;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
label {
  font-family: Poppins;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.input-group {
  margin: 0px 0 20px 0;
  display: grid;
}
input {
  width: 100%;
  font-size: 18px;
  border-right: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
  border: 1px solid #e5e5e5;
  padding: 15px;
}
select {
  padding: 15px 5px;
  border: 1px solid #e5e5e5;
  font-size: 19px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  width: 100%;
}
#targetUnit {
  width: 100%;
}
.submit-button {
  height: 5rem;
  width: 100%;
  display: flex;
}
button {
  margin: auto;
  width: 13rem;
  height: 3.5rem;
  border-radius: 25px;
  border: none;
  color: #e5e5e5;
  font-size: 20px;
  font-weight: 700;
  background-color: #000;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
span {
  padding-left: 20px;
  font-size: 25px;
}
.resultValueSection {
  width: 80%;
  margin: auto;
  height: 80%;
  display: flex;
}

#convertedDegree {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
}
#result {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #000;
  font-family: Poppins;
  animation-duration: 7s;
  padding-block-start: 60px;
  animation-name: slide;
}
@keyframes slide {
  from {
    margin-block-start: -20%;
  }
  to {
    margin-block-start: 10%;
  }
}
#targetUnitResult {
  font-size: 55px;
  color: #e5e5e5;
  padding: 0px 80px 0 0;
  font-family: Poppins;
}
select option optgroup {
  color: #fff;
  background-color: #000;
}
footer {
  margin-block-start: 60px;
  text-align: center;
  font-weight: 800;
  color: #000;
  font-family: Poppins;
}

@media all and (max-width: 850px) {
  .parent-container {
    margin: 0 auto;
    height: 100%;
    width: 99%;
  }
  main {
    margin: 0 auto;
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
    border: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  #header {
    font-size: 25px;
  }
  .cont1 {
    height: 65%;
    border-bottom-left-radius: 0px;
  }
  .cont2 {
    height: 35%;
    border-top-right-radius: 0px;
  }

  .input-container {
    height: 80%;
    width: 80%;
    margin: auto;
  }
  input {
    width: 300px;
  }

  button {
    margin: auto;
    width: 14rem;
    height: 3.5rem;
    border-radius: 25px;
    border: none;
    color: #e5e5e5;
    font-size: 20px;
    font-weight: 700;
    background-color: #192844;
  }

  h1 {
    font-family: Poppins;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  #targetUnit {
    width: 100%;
  }

  input {
    width: 100%;
  }
  .resultValueSection {
    width: 90%;
    margin: auto;
    height: 80%;
    display: flex;
  }

  section {
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    border-right: none;
  }
  #result {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #000;
    font-family: Poppins;
    animation-duration: 4s;
    padding-block-start: 20px;
    animation-name: slide;
  }

  @keyframes slide {
    from {
      margin-block-start: -10%;
    }
    to {
      margin-block-start: 1%;
    }
  }
}
@media all and (min-width: 851px) and (max-width: 1176px) {
  h1 {
    font-size: 18px;
    font-weight: 600;
  }

  label {
    font-size: 19px;
  }

  #header {
    font-size: 25px;
  }
}
